/*
  $color-primary: #c69963;
  $color-primary-dark: #B28451;

  $color-secondary: #101d2c;

  $color-grey-light-1: #f9f7f6;
  $color-grey-light-2: #aaa;

  $color-grey-dark-1: #54483A;
  $color-grey-dark-2: #6D5D4B;

  // FONT VARIABLES
  $font-primary: 'Nunito', sans-serif;
  $font-display: 'Josefin Sans', sans-serif;
*/

.header {
  background-color: $color-grey-dark-1;
  background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  //GRID
  grid-column: full-start / col-end 6; // Check base scss for name references

  //GRID INCEPTION
  display: grid;

  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center;

  &__logo {
    // POSITION THE LOGO
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    // POSITION THE BUTTON
    align-self: start;
    justify-self: start;
  }

  &__seenon-text {

    // GRID GRID INCEPTION
    display: grid;

    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }


  &__seenon-logos {

    // GRID GRID INCEPTION
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;

    img {
      max-height: 2.5rem;
      max-width: 100%;
      // Take out the whiteness of the images / logos
      filter: brightness(70%);
    }
  }


}